In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
np.__version__

'1.25.2'

In [3]:
pd.__version__

'2.0.3'

In [7]:
import requests

url = "https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
response = requests.get(url)

if response.status_code == 200:
    with open("data.csv", "wb") as file:
        file.write(response.content)
    print("Dataset downloaded and saved as data.csv")
else:
    print("Failed to download the dataset")

Dataset downloaded and saved as data.csv

In [16]:
df = pd.read_csv('data.csv')

In [18]:
df.Make

0            BMW
1            BMW
2            BMW
3            BMW
4            BMW
          ...
11909      Acura
11910      Acura
11911      Acura
11912      Acura
11913    Lincoln
Name: Make, Length: 11914, dtype: object

In [22]:
filteredBMW = df[df["Make"] == "BMW"]

In [25]:
average_BMW = filteredBMW["MSRP"].mean()

In [26]:
average_BMW

61546.76347305389

In [30]:
column_dtypes = df.dtypes
print(column_dtypes)

Make                  object
Model                 object
Year                   int64
Engine Fuel Type      object
Engine HP            float64
Engine Cylinders     float64
Transmission Type     object
Driven_Wheels         object
Number of Doors      float64
Market Category       object
Vehicle Size          object
Vehicle Style         object
highway MPG            int64
city mpg               int64
Popularity             int64
MSRP                   int64
dtype: object

In [54]:
filtered_2015 = df[df["Year"]  >= 2015]

In [55]:
missing_Engines = filtered_2015["Engine HP"].isnull().sum()

In [57]:
missing_Engines

51

In [58]:
mean_hp_before = df["Engine HP"].mean()

In [59]:
mean_hp_before

249.38607007176023

In [60]:
df['Engine HP'].fillna(mean_hp_before).mean()

249.38607007176023

In [61]:
df['Engine HP'].fillna(0).mean()

247.94174920261878

## Q6

In [63]:
df["Make"].unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [64]:
df_rr = df[df["Make"] == "Rolls-Royce"]

In [69]:
selected_columns = df_rr["Engine HP"

In [71]:
df_rr = df_rr[["Engine HP", "Engine Cylinders", "highway MPG"]]

In [72]:
df_rr

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5276       563.0              12.0           21
5277       563.0              12.0           21
5278       563.0              12.0           21
5279       563.0              12.0           20
5280       563.0              12.0           20
5281       563.0              12.0           21
5282       563.0              12.0           21
5283       563.0              12.0           21
5284       563.0              12.0           21
7443       322.0              12.0           15
7444       322.0              12.0           15
7553       453.0              12.0           19
7554       453.0              12.0           19
7555       453.0              12.0           19
7556       453.0              12.0           19
7557       453.0              12.0           19
7558       453.0              12.0           19
7559       453.0              12.0           19
7560       453.0              12.0           19
7561       453.0              12.0           19
7562       453.0              12.0           19
7563       453.0              12.0           19
7564       453.0              12.0           19
9431       322.0              12.0           15
9432       322.0              12.0           15
11448      624.0              12.0           21
11449      624.0              12.0           21
11450      624.0              12.0           21

In [73]:
columns_to_check = ["Engine HP", "Engine Cylinders", "highway MPG"]
unique_df = df_rr.drop_duplicates(subset=columns_to_check)

In [74]:
unique_df

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [76]:
X = unique_df.values

In [78]:
XTX = X.T.dot(X)

In [80]:
XTX_inv = np.linalg.inv(XTX)

In [82]:
XTX_inv

array([[ 5.17815728e-05,  9.06587044e-04, -1.92984188e-03],
       [ 9.06587044e-04,  1.05723058e-01, -8.87084092e-02],
       [-1.92984188e-03, -8.87084092e-02,  1.05900809e-01]])

In [81]:
XTX_inv.sum()

0.03221232067748618

## Q7

In [83]:
y= [1000, 1100, 900, 1200, 1000, 850, 1300];

In [84]:
w = XTX_inv.dot(X.T).dot(y)

In [85]:
w

array([ 0.19989598, 31.02612262, 31.65378877])