In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## q1

In [30]:
np.__version__

'1.25.2'

In [31]:
pd.__version__

'2.0.3'

In [32]:
df = pd.read_csv('data.csv')

## q2

In [33]:
num_records = df.shape[0]
print(num_records)

11914

## q3

In [34]:
brand_counts = df['Make'].value_counts()
top_3_brands = brand_counts.head(3)
print(top_3_brands)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: count, dtype: int64

## q4

In [35]:
df[df["Make"] == "Audi"]["Model"].nunique()

34

## q5

In [36]:
df.columns[df.isnull().any()]

Index(['Engine Fuel Type', 'Engine HP', 'Engine Cylinders', 'Number of Doors',
       'Market Category'],
      dtype='object')

In [37]:
df["Engine Cylinders"].median()

6.0

In [38]:
most_frequent_value = df["Engine Cylinders"].mode().iloc[0]

In [39]:
most_frequent_value

4.0

In [40]:
df['Engine Cylinders'].fillna(most_frequent_value)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [41]:
df["Engine Cylinders"].median()

6.0

### NO!!

## q7

In [42]:
df["Make"].unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [43]:
df_lotus = df[df["Make"] == "Lotus"]

In [44]:
df_lotus = df_lotus[["Engine HP", "Engine Cylinders"]]

In [45]:
columns_to_check = ["Engine HP", "Engine Cylinders"]
unique_df = df_lotus.drop_duplicates(subset=columns_to_check)

In [46]:
unique_df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [47]:
X = unique_df.values

In [48]:
XTX = X.T.dot(X)

In [49]:
XTX_inv = np.linalg.inv(XTX)

In [50]:
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [51]:
XTX_inv.sum()

0.15475735843457794

In [52]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [53]:
w = XTX_inv.dot(X.T).dot(y)

In [55]:
w[0]

4.5949448100945744